<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>编辑器 - <%= $blog_title %></title>
    <link rel="stylesheet" href="./static/css/style.css" />
    <link rel="stylesheet" href="./static/css/editormd.css" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style type="text/css">
        body {
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
        }
        .settings {
            width: 100%;
            max-width: 800px;
            margin: auto;
            padding: auto;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    </style>
</head>
<body>
    <div id="layout">
        <div id="test-editormd"></div>
        <div class="settings">
            <h2>Settings</h2>
            <br>
            <div class="title">
                <input type="text" class="form-control" name="submit-title" placeholder="<%= input_tips %>">
            </div>
            <br>
            <div>
                <button id="upload-btn" class="btn btn-success">点击提交</button>
            </div>
        </div>
    </div>
    <script src="./static/js/jquery.min.js"></script>
    <script src="./static/js/editormd.js"></script>   
    <script type="text/javascript">
        var testEditor;
        
        $(function() {
            
            $.get( '<%= markdown_templet %>' , function(md){
                testEditor = editormd("test-editormd", {
                    height: 740,
                    markdown : md,
                    codeFold : true,
                    saveHTMLToTextarea : true,    // 保存 HTML 到 Textarea
                    htmlDecode : "style,script,iframe|on*",
                    taskList : true,
                    tocm : true,         // Using [TOCM]
                    tex : true,                   // 开启科学公式TeX语言支持，默认关闭
                    flowChart : true,             // 开启流程图支持，默认关闭
                    sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,
                    dialogMaskOpacity : 0.4,
                    dialogMaskBgColor : "#000",
                    imageUpload : true,
                    imageFormats : ["jpg", "jpeg", "gif", "png", "bmp"],
                    imageUploadURL : "./upload",
                    onload : function() {
                        console.log('onload', this);
                    }
                });
            });

            $("#upload-btn").bind("click", function(){
                markdown = testEditor.getMarkdown()
                // markdown_base64 = window.btoa(markdown)

                html_data = testEditor.getHTML()
                // html_data_base64 = window.btoa(html_data)

                xmlhttp = new XMLHttpRequest();
                var url = window.location.href;
                xmlhttp.open("POST", url, true);
                xmlhttp.setRequestHeader("Content-type", "application/json")
                xmlhttp.onreadystatechange = function () { //Call a function when the state changes.

                    json = JSON.parse(xmlhttp.responseText)
                    if (xmlhttp.readyState == 4 && xmlhttp.status == 201) {
                        window.location.replace(json.url)
                    } else {
                        alert(json.message);
                    }
                }
                var parameters = {
                    "title": document.getElementsByName("submit-title")[0].value,
                    "content-md": markdown,
                    "content-html": html_data,
                };

                xmlhttp.send(JSON.stringify(parameters));
            });
        });
    </script>
</body>
</html>